.navds-layout__header {
  border-bottom: solid 4px cornflowerblue;
}

.navds-layout__body {
  min-height: 50vh;
}

.navds-layout__container {
  display: flex !important;
  justify-content: center;
  width: 100%;
}

.navds-link-panel {
  border: none !important;
  background-color: #a4c2f9 !important;
  padding: 2.25em !important;
  color: black !important;
}

.navds-link-panel-title {
  text-decoration: none !important;
}

.navds-link-panel:hover {
  background-color: white !important;
}

.navds-link-panel__chevron {
  display: none !important;
}

.navds-alert--warning {
  border: none !important;
  background-color: white !important;
}

.navds-alert--info {
  border: none !important;
  background-color: white !important;
}

.navds-alert--success {
  border: none !important;
  background-color: white !important;
}
